{{define "invoice-new-scripts"}}
<script>
    // Inject server-rendered values for use by invoice_new.js
    window.INVOICE_MODE = '{{.Mode}}';
    window.DOCUMENT_TYPE = '{{.DocumentType}}';
</script>
<script src="/static/js/invoice_new.js"></script>
{{end}}
