{{define "profile-styles"}}
    {{template "profile-tokens" .}}
    {{template "profile-controls" .}}
    {{template "profile-banners" .}}
    {{template "profile-sections-styles" .}}
    {{template "profile-preview-styles" .}}
    {{template "profile-preview-tabs-styles" .}}
{{end}}
